{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.7.0/flowbite.min.css" rel="stylesheet" />
<section>
  <form method="post" action="{% url 'create_pengajuan' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div>
    <label for="nama">Nama</label>
    <input type="text" id="nama" name="nama" required>
  </div>
  <div>
    <label for="notelepon">No Telepon</label>
    <input type="text" id="notelepon" name="notelepon" required>
  </div>
  <div>
    <label for="alamat">Alamat</label>
    <textarea id="alamat" name="alamat" required></textarea>
  </div>
  <div>
    <label for="latitude">Latitude</label>
    <input type="text" id="latitude" name="latitude" required>
  </div>
  <div>
    <label for="longitude">Longitude</label>
    <input type="text" id="longitude" name="longitude" required>
  </div>
  <div>
    <label for="nama_fasilitas">Nama Fasilitas</label>
    <input type="text" id="nama_fasilitas" name="nama_fasilitas" required>
  </div>
  <div>
    <label for="jenis_perlengkapan">Jenis Perlengkapan</label>
    <input type="text" id="jenis_perlengkapan" name="jenis_perlengkapan" required>
  </div>
  <div>
    <label for="Fasilitas_khusus">Fasilitas Khusus</label>
    <input type="text" id="Fasilitas_khusus" name="Fasilitas_khusus" required>
  </div>
  
  <div>
    <label for="gambar">Gambar</label>
    <input type="file" id="gambar" name="gambar" required>
  </div>
  <button type="submit">Submit</button>
</form>
</section>


<section>
  <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="file_input">Upload file
                <input class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
                </label>
</section>

<section>
  <label class="block mb-6 font-semibold text-slate-700 dark:text-white" for="file_input">Upload file
                        <input class="block shadow w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" id="file_input" type="file">
                        
                        </label>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.min.js"></script>
                        <script>
            const photoUpload = document.getElementById('file_input');
            const latitudeInput = document.getElementById('latitudeA');
            const longitudeInput = document.getElementById('longitudeB');

            photoUpload.addEventListener('change', function(event) {
                const file = event.target.files[0];
                const reader = new FileReader();

                reader.onload = function(event) {
                const image = new Image();
                image.src = event.target.result;

                image.onload = function() {
                    EXIF.getData(image, function() {
                    const latitude = EXIF.getTag(this, 'GPSLatitude');
                    const longitude = EXIF.getTag(this, 'GPSLongitude');

                    if (latitude && longitude) {
                        const latitudeDecimal = convertDMSToDecimal(latitude);
                        const longitudeDecimal = convertDMSToDecimal(longitude);

                        latitudeInput.value = latitudeDecimal;
                        longitudeInput.value = longitudeDecimal;
                    } else {
                        console.log('Metadata koordinat tidak ditemukan.');
                    }
                    });
                };
                };

                reader.readAsDataURL(file);
            });

            function convertDMSToDecimal(coordinate) {
                const degrees = coordinate[0].numerator;
                const minutes = coordinate[1].numerator;
                const seconds = coordinate[2].numerator / coordinate[2].denominator;

                return degrees + minutes / 60 + seconds / 3600;
            }
            </script>
</section>

<section>
<label for="nama" class="block mb-3">
                        <span class="block font-semibold
                        mb-1 text-slate-700 after:content-['*']
                        after:text-pink-500 after:ml-0.5
                        ">Nama</span>
                        <input id="nama" type="text" placeholder="Masukkan nama.." class="
                        px-3 py-2 border shadow rounded w-full block 
                        text-sm placeholder:text-slate-400 
                        focus:outline-none focus:ring-1 focus:ring-art focus:border-art
                        invalid:text-pink-700 invalid:focus:ring-pink-700
                        " required>
                    </label>
                    <label for="nohp" class="block mb-3">
                        <span class="block font-semibold
                        mb-1 text-slate-700 after:content-['*']
                        after:text-pink-500 after:ml-0.5
                        ">Nomor telepon</span>
                        <input id="nohp" type="" placeholder="Masukkan no telepon.." class="
                        px-3 py-2 border shadow rounded w-full block 
                        text-sm placeholder:text-slate-400 
                        focus:outline-none focus:ring-1 focus:ring-art focus:border-art
                        invalid:text-pink-700 invalid:focus:ring-pink-700
                        " pattern="[0-9]{10,13}" maxlength="13" required>
                    </label>
                    <label for="nama" class="block mb-3">
                        <span class="block font-semibold
                        mb-1 text-slate-700 after:content-['*']
                        after:text-pink-500 after:ml-0.5
                        ">Alamat</span>
                        <input id="nama" type="text" placeholder="Masukkan alamat.." class="
                        px-3 py-2 border shadow rounded w-full block 
                        text-sm placeholder:text-slate-400 
                        focus:outline-none focus:ring-1 focus:ring-art focus:border-art
                        ">
                    </label>
                    <label for="latitude" class="block mb-3">
                        <span  class="block font-semibold
                        mb-1 text-slate-700 after:content-['*']
                        after:text-pink-500 after:ml-0.5
                        ">Latitude</span>
                        <input id="latitudeA" type="text" placeholder="Masukkan latitude.." class="
                        px-3 py-2 border shadow rounded w-full block 
                        text-sm placeholder:text-slate-400 
                        focus:outline-none focus:ring-1 focus:ring-art focus:border-art
                        invalid:text-pink-700 invalid:focus:ring-pink-700
                        " name="latitudeA" value="">
                    </label>
                    <label for="latitude" class="block mb-3">
                        <span  class="block font-semibold
                        mb-1 text-slate-700 after:content-['*']
                        after:text-pink-500 after:ml-0.5
                        ">Longitude</span>
                        <input id="longitudeB" type="text" placeholder="Masukkan longitude.." class="
                        px-3 py-2 border shadow rounded w-full block 
                        text-sm placeholder:text-slate-400 
                        focus:outline-none focus:ring-1 focus:ring-art focus:border-art
                        invalid:text-pink-700 invalid:focus:ring-pink-700
                        " name="longitudeB" value="">
                    </label>
</section>


<section>
<div id="map" class="h-[400px]  rounded-md px-4  w-full  lg:1/2 lg:mb-9">
                        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                        <script>
                        var myMap = L.map('map').setView([51.505, -0.09], 13);
        
                            // Tambahkan layer peta
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors'
                            }).addTo(myMap);

                            var marker;
                            myMap.on('click', function (e) {
                                if (marker) {
                                    myMap.removeLayer(marker);
                                }
                                marker = L.marker(e.latlng).addTo(myMap);
                                var latitude = e.latlng.lat.toFixed(6);
                                var longitude = e.latlng.lng.toFixed(6);
                            document.getElementById('latitudeA').value = latitude;
                            document.getElementById('longitudeB').value = longitude;
                            });
                        </script>
                    </div>
</section>


<section>
    
<button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">Dropdown button <svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
<!-- Dropdown menu -->
<div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
    <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
      </li>
      <li>
        <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Sign out</a>
      </li>
    </ul>
</div>

</section>

<section class="mb-10 ">
    <h2>spacing</h2>
    <div class="ml-px ">Margin</div>
</section>
<section class="ml-52">
    <h2>sizing</h2>
    <div class="w-32 h-32 bg-blue-700 border-black border-2">kotak</div>
</section>
<script>
    // Menangkap elemen-elemen yang diperlukan
const dropdownButton = document.getElementById("dropdownDefaultButton");
const dropdownMenu = document.getElementById("dropdown");

// Mengatur event listener untuk toggle dropdown
dropdownButton.addEventListener("click", function() {
  dropdownMenu.classList.toggle("hidden");
});

// Menutup dropdown jika mengklik di luar dropdown
window.addEventListener("click", function(event) {
  if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
    dropdownMenu.classList.add("hidden");
  }
});
</script>
{% endblock content %}