{% extends 'base.html' %}
{% block content %}
{% load static %} 
{% include 'layout/navbar.html' %}
<link rel="stylesheet" href="{% static 'assets/compiled/css/table-datatable.css' %}" />

<section id="about" class="mb-1 pt-48 pb-32">
    <div class="container">
        <div class="flex flex-wrap">
            {% for perlengkapan in perlengkapan_list %}
            <div class="w-full px-4 mb-10 lg:w-1/2">
                
                <h6 class="font-bold text-dark text-2xl mb-5 max-w-xl lg:text-4xl">{{ perlengkapan.jenis_perlengkapan }}</h6>
                
            </div>

            <div class="w-full px-4 mb-10 lg:w-1/2">
                
                <p class="font-medium text-base text-blue-700 max-w-xl  text-justify lg:text-lg">{{ perlengkapan.deskrpsi }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section> 


<section id="denone" class="ml-1 pt-36">
    <div class="container">
        <div class="flex flex-wrap">
            <div class="w-full self-center px-4 ">
                <section class="section">
                <div class="card">
                <div class="card-header">Informasi Fasilitas Perlengkapan</div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                        <th>Nama Fasilitas</th>
                        <th>Nama Khusus</th>
                        <th>Tipe Khusus</th>
                        <th>Tanggal Ditambahkan</th>
                        <th>Jenis Perlengkapan</th>
                        <th>Gambar</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        {% for fasilitas in fasilitas_data %}
                        <tr>
                            <td>{{ fasilitas.nama_fasilitas }}</td>
                            <td>{{ fasilitas.namakhusus }}</td>
                            <td>{{ fasilitas.tipekhusus }}</td>
                            <td>{{ fasilitas.tanggal_ditambahkan|date:"M. d, Y"  }}</td>
                            
                            <td>{{ fasilitas.jenis_perlengkapan }}</td>
                            <td>
                        {% if fasilitas.gambar %}
                            <img src="{{ fasilitas.gambar.url }}" alt="Gambar Fasilitas" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                            Gambar Tidak Tersedia
                        {% endif %}
                            </td>
                                
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
                </div>
            </section>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %} "></script>
<script src="{% static 'assets/js/pages/simple-datatables.js' %} "></script>

{% include 'layout/footer.html' %}
{% endblock content %}
