{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% include 'layout/sidebaradmin.html' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.css"/>
<script src="https://cdn.jsdelivr.net/gh/mdbassit/Coloris@latest/dist/coloris.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="page-heading">
        <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
            <h3>Masukkan Data Fasilitas Perlengkapan Jalan</h3>
            <p class="text-subtitle text-muted">
                Pastikan anda memasukkan data yang tervalidasi dan sesuai dengan peraturan yang ada
            </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
            <nav
                aria-label="breadcrumb"
                class="breadcrumb-header float-start float-lg-end"
            >
                <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Dashboard</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                    Fasilitas Form
                </li>
                </ol>
            </nav>
            </div>
        </div>
        </div>



                    <!-- // Basic multiple Column Form section start -->
            <section id="multiple-column-form">
                <div class="row match-height">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Perlengkapan Jalan Form</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">


                        <form method="POST" class="form" action="{% url 'editdataperlengkapan' fasilitas.fasilitasid %}"   enctype="multipart/form-data" autocomplete="off">
                            {% csrf_token %}
                            
                            <div class="row">
                            

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="namafasilitas">Nama Fasilitas</label>
                                <input
                                    type="text"
                                    readonly
                                    id="nama_fasilitas"
                                    class="form-control"
                                    name="nama_fasilitas"
                                    placeholder="Nama Fasilitas.."
                                    value="{{ fasilitas_form.instance.nama_fasilitas }}"
                                    required
                                />
                                </div>
                            </div>
                            

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="tanggal_ditambahkan">Pilih Tanggal Ditambahkan</label>
                                    <input
                                    type="text"
                                    class="form-control "
                                    placeholder=""
                                    name="tanggal_ditambahkan"
                                    value="{{ fasilitas_form.tanggal_ditambahkan.value }}"
                                    />
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="first-name-column">Pilih Jenis FPJ :</label>
                                
                                <div class="btn-group mb-1 ml-3">
                        <div class="dropdown">
                            <button
                                class="btn btn-dark dropdown-toggle"
                                type="button"
                                id="dropdownMenufasilitas"
                                data-bs-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false"
                            >
                                {{ fasilitas_form.jenis_perlengkapan.value }}
                            </button>
                            <div
                                class="dropdown-menu"
                                value="{{ fasilitas_form.jenis_perlengkapan.value }}"
                                aria-labelledby="dropdownMenufasilitas"
                            >
                            {% for item in perlengkapan_list %}
                                <a class="dropdown-item fasilitas" data-value="{{ item }}">{{ item }}</a>
                                
                                {% endfor %}
                            </div>
                                <input
                                    type="hidden"
                                    id="hiddenInputfasilitas"
                                    class="form-control"
                                    
                                    name="jenis_perlengkapan"
                                    value="{{ fasilitas_form.jenis_perlengkapan.value }}"
                                />
                            </div>
                        </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="Tipekhusus">Tipe Khusus</label>
                                <input
                                    type="text"
                                    id="Tipekhusus"
                                    class="form-control"
                                    name="tipekhusus"
                                    placeholder="Tipe Khusus.."
                                    value="{{ fasilitas_form.tipekhusus.value }}"
                                />
                                </div>
                            </div>

                            

                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="namakhusus">Nama Fasilitas Khusus</label>
                                <input
                                    type="text"
                                    id="namakhusus"
                                    class="form-control"
                                    name="namakhusus"
                                    placeholder="Nama Fasilitas Khusus.."
                                    value="{{ fasilitas_form.namakhusus.value }}"
                                />
                                </div>
                            </div>
                            
                            <div class="col-md-6 col-12">
                                <div class="form-group">
                                <label for="volume">Volume</label>
                                <input
                                    type="number"
                                    id="volume"
                                    class="form-control"
                                    name="volume"
                                    placeholder="Volume.."
                                    value="{{ fasilitas_form.volume.value }}"
                                />
                                </div>
                            </div>
                            
                            

                            <div class="col-md-6 col-12 ">
                                <div class="form-group">
                                <label for="Deskripsi">Deskripsi</label>
                                <textarea
                                    
                                    id="Deskripsi"
                                    class="form-control"
                                    name="deskripsi"
                                    placeholder="Masukkan Deskripsi.."
                                    value="{{ fasilitas_form.deskrpsi.value }}"
                                ></textarea>
                                </div>
                            </div>
                            <div class="col-md-6 col-12 ">
                                <div class="form-group">
                                <label for="Deskripsi">Color :</label>
                                <input type="text" data-coloris name="color" value="{{ fasilitas_form.color.value }}">
                                </div>
                            </div>

                            

                            

                            
                            
                        <div class="col-md-6 col-12 mb-32">
                            <label for="gambar" class="form-label"
                                >Masukkan Gambar Fasilitas Perlengkapan Jalan</label
                            >
                            <input
                                class="form-control form-control-sm"
                                id="gambar"
                                type="file"
                                name="gambar"
                            />
                        </div>
                        
                        
                            
                            

                            <script>
                                $(document).ready(function() {
                                $('.dropdown-item.fasilitas').click(function(e) {
                                    e.preventDefault();
                                    var selectedKondisi = $(this).data('value');
                                    $('#hiddenInputfasilitas').val(selectedKondisi);
                                    $('#dropdownMenufasilitas').text(selectedKondisi);
                                });
                                });
                            {% if messages %}
                                {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    Swal.fire({
                                    icon: 'success',
                                    title: '{{ message }}',
                                    showConfirmButton: false,
                                    timer: 2000
                                    });
                                {% elif message.tags == 'error' %}
                                    Swal.fire({
                                    icon: 'error',
                                    title: '{{ message }}',
                                    showConfirmButton: false,
                                    timer: 2000
                                    });
                                {% endif %}
                                {% endfor %}
                            {% endif %}
                            </script>
                            

                        

                            
                            

                            <div class="col-12 d-flex justify-content-end mt-70">
                                <button
                                type="submit"
                                class="btn btn-primary me-1 mb-1"
                                >
                                Submit
                                </button>
                                <button
                                type="reset"
                                class="btn btn-light-secondary me-1 mb-1"
                                >
                                Reset
                                </button>
                            </div>
                            </div>
                        </form>


                        
                        </div>
                    </div>
                    </div>
                </div>
                </div>
                
                
            </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    
    

</div>



{% include 'layout/footeradmin.html' %}
{% endblock content %}