{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% include 'layout/sidebaradmin.html' %}
<link rel="stylesheet" href="{% static 'assets/css/decorate.css' %}" />
<link rel="stylesheet" href="{% static 'assets/css/peta.css' %}" />
<link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}" />
<link rel="stylesheet" href="{% static 'assets/compiled/css/app-dark.css' %}" />
<link rel="stylesheet" href="{% static 'assets/compiled/css/iconly.css' %}" />
<!--Admin punya-->


{% if user.is_authenticated %}

<div class="page-heading">
    <h3>Dashboard</h3>
</div>
<div class="page-content">
    <section class="row">
    <div class="col-12 col-lg-9">
        <div class="row">
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
            <div class="card-body px-4 py-4-5">
                <div class="row">
                <div
                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                    <div class="stats-icon purple mb-2">
                    <i class="fa-solid fa-bolt" style="color: #ffffff;"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">
                    Kerusakan
                    </h6>
                    <h6 class="font-extrabold mb-0">{{kerusakan}}</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
            <div class="card-body px-4 py-4-5">
                <div class="row">
                <div
                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                    <div class="stats-icon blue mb-2">
                    <i class="fa-solid fa-wind" style="color: #ffffff;"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Pengajuan</h6>
                    <h6 class="font-extrabold mb-0">{{jumlah_data}}</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
            <div class="card-body px-4 py-4-5">
                <div class="row">
                <div
                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                    <div class="stats-icon green mb-2">
                    <i class="fa-solid fa-file-invoice" style="color: #fff;"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Perencanaan</h6>
                    <h6 class="font-extrabold mb-0">{{data_perencanaan}}</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        <div class="col-6 col-lg-3 col-md-6">
            <div class="card">
            <div class="card-body px-4 py-4-5">
                <div class="row">
                <div
                    class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                >
                    <div class="stats-icon red mb-2">
                    <i class="fa-solid fa-building-lock" style="color: #ffffff;"></i>
                    </div>
                </div>
                <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                    <h6 class="text-muted font-semibold">Pembangunan</h6>
                    <h6 class="font-extrabold mb-0">{{data_pembangunan}}</h6>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
        <div class="row">
        <div class="col-12">
            <div class="card">
            <div class="card-header">
                <h4>Manajemen Peta</h4>
            </div>
            <div class="card-body">
                <div id="map" class="h-[480px] rounded-xl relative z-10   ">   
                <div class="layer-selector">
        <label for="layer-select">Select Layer:</label>
        <select id="layer-select">
            <option value="streets">Google Streets</option>
            <option value="hybrid">Google Hybrid</option>
            <option value="satellite">Google Satellite</option>
            <option value="terrain">Google Terrain</option>
        </select>  

                <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                <script src="https://unpkg.com/leaflet-control-layers-tree/dist/L.Control.Layers.Tree.js"></script>

                <script>
        // Inisialisasi peta
        var map = L.map('map').setView([5.549037601496668, 95.31928497494027], 10);
                    
            
        var googleStreets = L.tileLayer('http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var googleHybrid = L.tileLayer('http://{s}.google.com/vt?lyrs=s,h&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var googleSatellite = L.tileLayer('http://{s}.google.com/vt?lyrs=s&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var googleTerrain = L.tileLayer('http://{s}.google.com/vt?lyrs=p&x={x}&y={y}&z={z}', {
            maxZoom: 20,
            subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
        });

        var baseLayers = {
            'Google Streets': googleStreets,
            'Google Hybrid': googleHybrid,
            'Google Satellite': googleSatellite,
            'Google Terrain': googleTerrain
        };

        

        var layerSelect = document.getElementById('layer-select');
        layerSelect.addEventListener('change', function () {
            var selectedLayer = layerSelect.value;
            if (selectedLayer === 'streets') {
                map.addLayer(googleStreets);
                map.removeLayer(googleHybrid);
                map.removeLayer(googleSatellite);
                map.removeLayer(googleTerrain);
            } else if (selectedLayer === 'hybrid') {
                map.addLayer(googleHybrid);
                map.removeLayer(googleStreets);
                map.removeLayer(googleSatellite);
                map.removeLayer(googleTerrain);
            } else if (selectedLayer === 'satellite') {
                map.addLayer(googleSatellite);
                map.removeLayer(googleStreets);
                map.removeLayer(googleHybrid);
                map.removeLayer(googleTerrain);
            } else if (selectedLayer === 'terrain') {
                map.addLayer(googleTerrain);
                map.removeLayer(googleStreets);
                map.removeLayer(googleHybrid);
                map.removeLayer(googleSatellite);
            }
        });
        map.addLayer(googleStreets);
          // Gantikan dengan data marker yang diteruskan dari Django

        </script>
        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
            
            <div class="card">
            <div class="card-header">
                <h4>Halo , Selamat Datang {{ admin.nama_admin }}</h4>

            </div>





            



        </div>
        
        </div>
    </div>
    
    
            </div>


    <div class="col-12 col-lg-3">
        <div class="card">
        <div class="card-body py-4 px-4">
            <div class="d-flex align-items-center">
                <div class="avatar avatar-xl">
                    {% if admin.gambar %}
                        <img src="{{ admin.gambar.url }}" style="max-width: 70%; max-height: 100%;" alt="Gambar Admin">
                    {% endif %}
                    </div>
            <div class="ms-3 name">
                <h5 class="font-bold mb-1">{{ admin.nama_admin }}</h5>
                
                <h7 class="text-muted mb-0">{{ admin.divisi }}</h7>
            </div>
            </div>
        </div>
        </div>
        <div class="card">
        <div class="card-header">
            <h4>Pengajuan Baru</h4>
        </div>
        <ul style="list-style: none; justify-self: center;">
                {% for masyarakat in latest_masyarakat %}
                    <li style="center">{{ masyarakat.nama }}</li>
                {% endfor %}
                </ul>
        <div class="card-content pb-4">
            <div class="recent-message d-flex px-4 py-3">
            
        </div>
        </div>
        <div class="card">
        <div class="card-header">
            <h4>Kerusakan Baru</h4>
        </div>
        <ul style="list-style: none; justify-self: center;">
                {% for masyarakat in latest_masyarakat_kerusakan %}
                    <li style="center">{{ masyarakat.nama }}</li>
                {% endfor %}
                </ul>
        

        

        </div>
    </div>
    </section>
    <div class="row">
        <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h4>Statistik Pembangunan berdasarkan Kondisi</h4>
                    </div>
                    <div class="card-body">
                        <div id="area"></div>
                    </div>
                    </div>
                </div>
    </div>
</div>

{% else %}
    <!-- Arahkan pengguna ke halaman login -->
    <p>Silakan <a href="{% url 'masuk' %}">login</a> untuk mengakses halaman ini.</p>
{% endif %}
<script src="{% static 'assets/extensions/dayjs/dayjs.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script>
    var chartData = {{ chart_data|safe }};
        var chartCategories = {{ chart_categories|safe }};

        var options = {
            series: chartData,
            chart: {
                height: 350,
                type: 'area'
            },
            dataLabels: {
            enabled: false,
        },
            xaxis: {
                categories: chartCategories,
                type: "datetime",
                labels: {
                    formatter: function(val) {
                        return new Date(val).toLocaleDateString('en-US', { year: 'numeric', month: 'short', day: 'numeric' });
                    }
                }
            },
            yaxis: {
                title: {
                    text: "Jumlah Data",
                },
                labels: {
                    formatter: function (val) {
                        return parseInt(val).toString();
                    }
                }
            },
            
        };

        var chart = new ApexCharts(document.querySelector("#area"), options);
        chart.render();
</script>


{% endblock content %}