{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% include 'layout/sidebaradmin.html' %}
    <div class="page-heading">
            <div class="page-title">
                <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Pelaporan Jalan</h3>
                    <p class="text-subtitle text-muted">
                    Pelaporan Jalan Sistem Admin
                    </p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav
                    aria-label="breadcrumb"
                    class="breadcrumb-header float-start float-lg-end"
                    >
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                        <a href="{% url 'dashboardadmin' %}">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                        Pelaporan
                        </li>
                    </ol>
                    </nav>
                </div>
                </div>
            </div>
            <section class="section">
                <div class="row">
                <div class="col-12">
                    <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Selamat datang admin {{ admin.nama_admin }}</h5>
                    </div>
                    <div class="card-body text-justify">
                        <ol>
                            <li>1.  Admin harus memeriksa kelengkapan data pelaporan dari beberapa pelaporan yang dilaporkan oleh masyarakat</li>
                            <li>2.  Sistem akan mengorganisir data yang dilaporkan masyarakat dengan tingkatan kerusakan yang ada, silahkan lihat halaman dokumentasi</li>
                            <li>3.  Dilarang untuk menghubungi dan mensurvei lokasi tanpa memeriksa dan mendapatkan izin terlebih dahulu</li>
                            <li>4.  Fasilitas yang berkategorikan kerusakan ringan dapat dikelola kembali dengan melakukan perbaikan setelah data di periksa dan disurvei ulang</li>
                            <li>5.  Jika admin tidak memungkinkan untuk mensurvei silahkan menghubungi pusat tingkat lanjut</li>
                            <li>6.  Admin dilarang untuk menerima atau memungut biaya dengan kondisi atau kerusakan pelaporan yang terjadi</li>
                            <li>7.  Jika ada lebih dari satu pelaporan dari titik yang sama dan lokasi yang sama maka harus dieksekusi secepatnya terlebih lagi jika fasilitas merupakan jenis yang penting untuk pengendara</li>
                            <li>8.  Fasilitas yang dikategorikan kerusakan sedang dapat di ganti dengan yang baru jika tidak memungkinkan untuk berdungsi lagi</li>
                            <li>9.  Semua Fasilitas pengganti harus dicheck barangnya berdasarkan dari kualitas , agar meminimalisir kerusakan dari fasilitas yang diterima</li>
                            <li>10. Semua Admin diharapkan memeriksa semua kerusakan, ketika barang tidak ditemukan maka akan dibuat kondisi buruk pada data pembangunan</li>
                        </ol>

                        Jika ada kendala lebih lanjut silahkan hubungi pusat bantuan atau kunjungi 
                        <a href="https://dishub.acehprov.go.id/" target="_blank"
                        >Dinas Perhubungan Aceh</a
                        >.
                    </div>
                    </div>
                </div>
                </div>
            </section>
            </div>
{% include 'layout/footeradmin.html' %}
{% endblock content %}