.btn{
    white-space: normal !important;
    padding: 0.375rem 1.45rem;
}
.related-widget-wrapper{
    overflow: hidden;
}
.selector{
    width: 750px;
    float: left;
}
.selector-available, .selector-chosen{
    float: left;
    width: 355px;
    text-align: center;
    margin-bottom: 5px;
}
.selector .selector-available h2, .selector .selector-chosen h2{
    margin: 0;
    padding: 8px;
    font-weight: 700;
    line-height: 1.2;
    font-size: 13px;
    text-align: left;
    background: #f0f1f5;
    color: #25396f;
    border: 1px solid #25396f;
    border-radius: 4px 4px 0 0;
}
.selector .selector-chosen h2{
    background: #435ebe;
    color: #fff;
}
.selector .selector-chosen h2 .help-icon{
    background-color: #fff;
}
.selector-filter{
    border: 1px solid #25396f;
    border-width: 0 1px;
    padding: 8px;
    color: #25396f;
    font-size: 10px;
    margin: 0;
    text-align: left;
}
.selector .selector-available input{
    color: #25396f;
    width: 310px;
    margin-left: 8px;
    margin-bottom: 0;
}
.selector ul.selector-chooser {
    float: left;
    width: 22px;
    background-color: #f0f1f5;
    border-radius: 10px;
    margin: 10em 5px 0 5px;
    padding: 0;
}
.selector-chooser li {
    margin: 0;
    padding: 3px;
    list-style-type: none;
}
.related-widget-wrapper select{
    color: #25396f;
    width: 355px;
    height: 16.2em;
    padding: 0 10px;
    margin: 0 0 10px;
    border-radius: 0 0 4px 4px;
}
.selector .help-icon{
    mask-image: url(../img/question-octagon-fill.svg);
    -webkit-mask-image: url(../img/question-octagon-fill.svg);
    background-color: #25396f;
    mask-size: 13px;
    -webkit-mask-size: 13px;
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    width: 13px;
    height: 13px;
}
.help-tooltip {
    cursor: help;
}
.selector-add,
.selector-remove {
    height: 16px;
    display: block;
    text-indent: -3000px;
    overflow: hidden;
    cursor: default;
    opacity: 0.3;
}

.active.selector-add,
.active.selector-remove {
    opacity: 1;
}

.active.selector-add:hover,
.active.selector-remove:hover {
    cursor: pointer;
}

.selector-add {
    background: url(../img/selector-icons.svg) 0 -96px no-repeat;
}

.active.selector-add:focus,
.active.selector-add:hover {
    background-position: 0 -112px;
}

.selector-remove {
    background: url(../img/selector-icons.svg) 0 -64px no-repeat;
}

.active.selector-remove:focus,
.active.selector-remove:hover {
    background-position: 0 -80px;
}

a.selector-chooseall,
a.selector-clearall {
    display: inline-block;
    height: 16px;
    text-align: left;
    margin: 1px auto 3px;
    overflow: hidden;
    font-weight: bold;
    line-height: 16px;
    color: #666;
    text-decoration: none;
    opacity: 0.3;
}

a.active.selector-chooseall:focus,
a.active.selector-clearall:focus,
a.active.selector-chooseall:hover,
a.active.selector-clearall:hover {
    color: #447e9b;
}

a.active.selector-chooseall,
a.active.selector-clearall {
    opacity: 1;
}

a.active.selector-chooseall:hover,
a.active.selector-clearall:hover {
    cursor: pointer;
}

a.selector-chooseall {
    padding: 0 18px 0 0;
    background: url(../img/selector-icons.svg) right -160px no-repeat;
    cursor: default;
}

a.active.selector-chooseall:focus,
a.active.selector-chooseall:hover {
    background-position: 100% -176px;
}

a.selector-clearall {
    padding: 0 0 0 18px;
    background: url(../img/selector-icons.svg) 0 -128px no-repeat;
    cursor: default;
}

a.active.selector-clearall:focus,
a.active.selector-clearall:hover {
    background-position: 0 -144px;
}
.selector .selector-filter label, .inline-group .aligned .selector .selector-filter label {
    float: left;
    margin: 2px 0 0;
    width: 18px;
    height: 18px;
    padding: 0;
    overflow: hidden;
    line-height: 1;
}

.selector .search-label-icon {
    background: url(../img/search.svg) 0 0 no-repeat;
    display: inline-block;
    height: 18px;
    width: 18px;
}

.related-widget-wrapper-link {
    padding: 7px;
}
.empty-form {
    display: none !important;
}
.inline-deletelink{
    background-color: transparent;
    border: 1px solid #dc3545;
    border-radius: 0.25rem;
    color: #dc3545;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    text-align: center;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    white-space: normal !important;
}
.inline-deletelink:hover {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

@media (max-width: 1375px) {
    .selector {
        display: flex;
        width: 100%;
    }
    .selector select {
        width: 100%;
        flex: 1 0 auto;
        margin-bottom: 5px;
    }
    .selector .selector-filter {
        display: flex;
        align-items: center;
    }
    .selector .selector-filter input {
        width: auto;
        min-height: 0;
        flex: 1 1;
    }
    .selector-available, .selector-chosen {
        width: auto;
        flex: 1 1;
        display: flex;
        flex-direction: column;
    }
    .selector ul.selector-chooser {
        width: 26px;
        height: 56px;
        padding: 2px 0;
        margin: auto 15px;
        border-radius: 20px;
        transform: translateY(-10px);
    }
    .selector-add, .selector-remove {
        width: 20px;
        height: 20px;
        background-size: 20px auto;
    }
    .selector-add {
        background-position: 0 -120px;
    }
    .selector-remove {
        background-position: 0 -80px;
    }
}
@media (max-width: 767px) {
    .selector {
        flex-direction: column;
    }
    .selector > * {
        float: none;
    }
    .selector ul.selector-chooser {
        display: block;
        float: none;
        width: 56px;
        height: 26px;
        padding: 0 2px;
        margin: 15px auto 20px;
        transform: none;
    }
    .selector ul.selector-chooser li {
        float: left;
    }
    .selector-add {
        background-position: 0 -40px;
    }
    .selector-remove {
        background-position: 0 0;
    }
    .selector-available, .selector-chosen {
        margin-bottom: 0;
        flex: 1 1 auto;
    }
    .related-widget-wrapper .selector {
        order: 1;
    }
}
@media (max-width: 991px) {
    .row{
        margin: 0;
    }
    .row > *{
        padding: 0;
    }

}