<footer class="bg-gray-800 text-white mt-20 pt-8">
  <div class="container mx-auto px-4 ">
    <div class="grid pt-10 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <div class="mx-auto">
        <h2 class="text-xl font-semibold mb-4 text-center lg:text-start">Lokasi Kami</h2>
        <div id="map" class="h-40">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15884.304716825845!2d95.30903365541995!3d5.555726100000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3040374126edbf49%3A0xfdaa83d3648d978a!2sDinas%20Perhubungan%20Aceh!5e0!3m2!1sid!2sid!4v1686224484596!5m2!1sid!2sid"
            width="250"
            height="150"
            style="border: 0; border-radius: 30px"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div>
        <h2 class="text-xl font-semibold mb-4">Tentang Perusahaan</h2>
        <p class="text-gray-300">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer commodo massa ac purus
          consectetur, sed mattis tellus aliquet.
        </p>
      </div>
      <div>
        <h2 class="text-xl font-semibold mb-4">Hubungi Kami</h2>
        <p class="text-gray-300">Alamat: Jalan Contoh No. 123, Kota, Negara</p>
        <p class="text-gray-300">Telepon: +1234567890</p>
        <p class="text-gray-300">Email: info@example.com</p>
      </div>
      <div>
        <h2 class="text-xl font-semibold mb-4">Sosial Media</h2>
        <ul class="list-none">
          <li><a href="#" class="text-gray-300 hover:text-white">Facebook</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">Twitter</a></li>
          <li><a href="#" class="text-gray-300 hover:text-white">Instagram</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="py-3 text-center">
    <p class="text-sm font-semibold mb-1">&copy; 2023 Yovie Pramudya Sabri.</p>
  </div>
</footer>
