
{% load static %}
{% block content %}


<link rel="stylesheet" href="{% static 'assets/compiled/css/app.css' %}" />
<link rel="stylesheet" href="{% static 'assets/compiled/css/app-dark.css' %}" />
<link rel="stylesheet" href="{% static 'assets/compiled/css/iconly.css' %}" />

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header position-relative">
        <div class="d-flex justify-content-between align-items-center">
            <div class="logo ">
            <a href="{% url 'beranda' %}"
                ><img 
                src="{% static 'assets/compiled/svg/LogoDinas.svg' %}"
                alt="Logo"
                srcset=""
            /></a>
            </div>
            <div class="theme-toggle d-flex gap-2 align-items-center mt-2">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--system-uicons"
                width="20"
                height="20"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 21 21"
            >
                <g
                fill="none"
                fill-rule="evenodd"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                >
                <path
                    d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2"
                    opacity=".3"
                ></path>
                <g transform="translate(-210 -1)">
                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>
                    <circle cx="220.5" cy="11.5" r="4"></circle>
                    <path
                    d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"
                    ></path>
                </g>
                </g>
            </svg>
            <div class="form-check form-switch fs-6">
                <input
                class="form-check-input me-0"
                type="checkbox"
                id="toggle-dark"
                style="cursor: pointer"
                />
                <label class="form-check-label"></label>
            </div>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                aria-hidden="true"
                role="img"
                class="iconify iconify--mdi"
                width="20"
                height="20"
                preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24"
            >
                <path
                fill="currentColor"
                d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z"
                ></path>
            </svg>
            </div>
            <div class="sidebar-toggler x">
            <a href="#" class="sidebar-hide d-xl-none d-block"
                ><i class="bi bi-x bi-middle"></i
            ></a>
            </div>
        </div>
        </div>
        <div class="sidebar-menu">
        <ul class="menu">
            <li class="sidebar-title">Menu</li>

            <li class="sidebar-item {% if request.resolver_match.url_name == 'dashboardadmin' %} active {% endif %}" >
            <a href="{% url 'dashboardadmin' %}" class="sidebar-link">
                <i class="bi bi-columns"></i>
                <span>Beranda</span>
            </a>
            </li>

            
<li class="sidebar-item has-sub 
{% if request.resolver_match.url_name == 'statistikperencanaan' %}active{% endif %}
{% if request.resolver_match.url_name == 'statistikpengajuan' %}active{% endif %}
{% if request.resolver_match.url_name == 'statistikkerusakan' %}active{% endif %}
{% if request.resolver_match.url_name == 'statistikfasilitas' %}active{% endif %}
">
    <a href="#" class="sidebar-link">
        <i class="bi bi-graph-up"></i>
        <span>Statistik</span>
    </a>
    <ul class="submenu">
        <li class="submenu-item {% if request.resolver_match.url_name == 'statistikperencanaan' %}active{% endif %}">
            <a href="{% url 'statistikperencanaan' %}" class="submenu-link">Perencanaan</a>
        </li>
        <li class="submenu-item {% if request.resolver_match.url_name == 'statistikpengajuan' %}active{% endif %}">
            <a href="{% url 'statistikpengajuan' %}" class="submenu-link">Pengajuan</a>
        </li>
        <li class="submenu-item {% if request.resolver_match.url_name == 'statistikkerusakan' %}active{% endif %}">
            <a href="{% url 'statistikkerusakan' %}" class="submenu-link">Kerusakan</a>
        </li>
        <li class="submenu-item {% if request.resolver_match.url_name == 'statistikfasilitas' %}active{% endif %}">
            <a href="{% url 'statistikfasilitas' %}" class="submenu-link">Fasilitas</a>
        </li>
    </ul>
</li>


            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'petaadperencanaan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'petaadpembangunan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'petaadpengajuan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'petaadkerusakan' %}active{% endif %}

            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-geo-alt-fill"></i>
                <span>Peta</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'petaadperencanaan' %}active{% endif %}">
                <a href="{% url 'petaadperencanaan' %}" class="submenu-link"
                    >Perencanaan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'petaadpembangunan' %}active{% endif %}">
                <a href="{% url 'petaadpembangunan' %}" class="submenu-link"
                    >Pembangunan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'petaadpengajuan' %}active{% endif %}">
                <a
                    href="{% url 'petaadpengajuan' %}"
                    class="submenu-link"
                    >Pengajuan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'petaadkerusakan' %}active{% endif %}">
                <a
                    href="{% url 'petaadkerusakan' %}"
                    class="submenu-link"
                    >Kerusakan</a
                >
                </li>

            </ul>
            </li>

            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'datapembangunan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'datafpj' %}active{% endif %}
            {% if request.resolver_match.url_name == 'dataperencanaan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'datapengajuan' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-card-list"></i>
                <span>Data</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'datafpj' %}active{% endif %}">
                <a href="{% url 'datafpj' %}" class="submenu-link"
                    >Perlengkapan Jalan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'dataperencanaan' %}active{% endif %}">
                <a href="{% url 'dataperencanaan' %}" class="submenu-link"
                    >Perencanaan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'datapengajuan' %}active{% endif %}">
                <a href="{% url 'datapengajuan' %}" class="submenu-link"
                    >Pengajuan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'datapembangunan' %}active{% endif %}">
                <a href="{% url 'datapembangunan' %}" class="submenu-link"
                    >Pembangunan</a
                >
                </li>
                
            </ul>
            </li>
            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'masukdatapembangunan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'masukdataperlengkapan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'masukdataperencanaan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'masukdatapengajuan' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-ui-checks"></i>
                <span>Masukkan Data</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'masukdatapembangunan' %}active{% endif %}">
                <a href="{% url 'masukdatapembangunan' %}" class="submenu-link"
                    >Pembangunan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'masukdataperencanaan' %}active{% endif %}">
                <a href="{% url 'masukdataperencanaan' %}" class="submenu-link"
                    >Perencanaan</a
                >
                </li>


                <li class="submenu-item {% if request.resolver_match.url_name == 'masukdataperlengkapan' %}active{% endif %}">
                <a href="{% url 'masukdataperlengkapan' %}" class="submenu-link"
                    >Perlengkapan Jalan</a
                >
                </li>
                
            </ul>
            </li>

            <li class="sidebar-title">Pengajuan &amp; Pelaporan</li>

            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'seleksimemenuhi' %}active{% endif %}
            {% if request.resolver_match.url_name == 'seleksidibawah' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-box-seam"></i>
                <span>Seleksi</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'seleksidibawah' %}active{% endif %}">
                <a href="{% url 'seleksidibawah' %}" class="submenu-link"
                    >Memenuhi Standar</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'seleksimemenuhi' %}active{% endif %}">
                <a href="{% url 'seleksimemenuhi' %}" class="submenu-link"
                    >Dibawah Standar</a
                >
                </li>

                
            </ul>
            </li>

            <li class="sidebar-item {% if request.resolver_match.url_name == 'pelaporan' %}active{% endif %}">
            <a href="{% url 'pelaporan' %}" class="sidebar-link">
                <i class="bi bi-file-earmark-medical-fill"></i>
                <span>Pelaporan</span>
            </a>
            </li>

            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'kerusakanringan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'kerusakanberat' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-journal-check"></i>
                <span>Kerusakan</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'kerusakanringan' %}active{% endif %}">
                <a href="{% url 'kerusakanringan' %}" class="submenu-link"
                    >Ringan</a
                >
                </li>
                <li class="submenu-item {% if request.resolver_match.url_name == 'kerusakanberat' %}active{% endif %}">
                <a href="{% url 'kerusakanberat' %}" class="submenu-link"
                    >Berat</a
                >
                </li>
            </ul>
            </li>

            

            <li class="sidebar-title">Dokumentasi</li>

            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'kontakoperator' %}active{% endif %}
            {% if request.resolver_match.url_name == 'layanandinas' %}active{% endif %}
            {% if request.resolver_match.url_name == 'permasalahan' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-question-square"></i>
                <span>Bantuan</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'layanandinas' %}active{% endif %}">
                <a href="{% url 'layanandinas' %}" class="submenu-link"
                    >Layanan Dinas</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'kontakoperator' %}active{% endif %}">
                <a href="{% url 'kontakoperator' %}" class="submenu-link"
                    >Kontak Operator</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'permasalahan' %}active{% endif %}">
                <a href="{% url 'permasalahan' %}" class="submenu-link"
                    >Pengajuan Permasalahan</a
                >
                </li>
            </ul>
            </li>

            <li class="sidebar-item has-sub
            {% if request.resolver_match.url_name == 'penggunaan' %}active{% endif %}
            {% if request.resolver_match.url_name == 'pemandu' %}active{% endif %}
            ">
            <a href="#" class="sidebar-link">
                <i class="bi bi-file-earmark-zip"></i>
                <span>Panduan</span>
            </a>

            <ul class="submenu">
                <li class="submenu-item {% if request.resolver_match.url_name == 'penggunaan' %}active{% endif %}">
                <a href="{% url 'penggunaan' %}" class="submenu-link"
                    >Penggunaan</a
                >
                </li>

                <li class="submenu-item {% if request.resolver_match.url_name == 'pemandu' %}active{% endif %}">
                <a href="{% url 'pemandu' %}" class="submenu-link"
                    >Pemandu penambahan</a
                >
                </li>

            
            </ul>
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'Account' %}active{% endif %}">
            <a href="{% url 'Account' %}" class="sidebar-link">
                <i class="bi bi-person-gear"></i>
                <span>Account</span>
            </a>
            </li>
            
            </li>
            <li class="sidebar-item {% if request.resolver_match.url_name == 'logout' %}active{% endif %}">
            <a href="{% url 'logout' %}" class="sidebar-link">
                <i class="bi bi-box-arrow-right"></i>
                <span>Logout</span>
            </a>
            </li>
            

        </ul>

           
            
        </div>
        </div>
        </div>
    
    
    
<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>


<script>
    // Menambahkan kelas 'active' saat submenu diklik
    const submenuLinks = document.querySelectorAll('.submenu-link');
    submenuLinks.forEach(link => {
        link.addEventListener('click', () => {
            // Hapus kelas 'active' dari semua sidebar item sebelumnya
            const sidebarItems = document.querySelectorAll('.sidebar-item.has-sub');
            sidebarItems.forEach(item => item.classList.remove('active'));
            // Tambahkan kelas 'active' pada sidebar item yang merupakan parent dari submenu yang diklik
            const sidebarItem = link.closest('.sidebar-item.has-sub');
            if (sidebarItem) {
                sidebarItem.classList.add('active');
            }
        });
    });
</script>

    {% endblock content %}

